apiVersion: v1
kind: Service
metadata:
  name: webhook-service
  namespace: system
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: webhook-certs
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    app: cluster-relocation
